@import '../_shared/base';

.table {
  display: table;
  width: 100%;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
  vertical-align: middle;

  &:first-child {
    width: 1%;
    padding-right: 1rem;
    white-space: nowrap;
    text-align: right;
    color: $dark-subtle;
  }
}
