@import '../../../_shared/base';

.details__title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.details__authors {
  margin-bottom: 3rem;
}

.details__number {
  width: 7rem;
  margin-right: 2rem;
  color: mix($dark, $base, 30);
  text-align: right;
  border-left: 1px solid mix($dark, $base, 30);
  writing-mode: vertical-rl;
  transform: rotate(-180deg);

  span {
    font-family: 'Roboto Mono', monospace;
    font-size: 52px;
  }
}
