@import '../../../_shared/base';

.star {
  $padding: 7px;
  $size: 32px;
  width: $size + $padding;
  height: $size + $padding;
  padding: $padding;
  background: none;
  border: none;
  transition: transform cubic();
  cursor: pointer;

  label {
    display: inline-block;
    cursor: pointer;
  }

  svg {
    vertical-align: top;
    stroke-width: 3px;
    stroke: $dark;
    fill: transparent;
  }

  &--active {
    svg {
      stroke: $primary;
      fill: $primary;
    }

    &.star--readonly {
      svg {
        stroke: $dark-subtle;
        fill: $dark-subtle;
      }
    }
  }

  &--hover {
    transform: scale(1.3);

    svg {
      stroke: $contrast;
      fill: $contrast;
    }
  }

  &:focus,
  &:active {
    outline: none;
    border-bottom: 1px dotted $primary;
  }

  &--readonly {
    pointer-events: none;
  }
}
