@import '../../../_shared/base';

.star {
  $padding: 10px;
  width: 44px + $padding;
  height: 44px + $padding;
  padding: $padding;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform cubic();

  svg {
    stroke-width: 3px;
    stroke: $dark;
    fill: transparent;
    transition: fill cubic();
  }

  &--active,
  &--mine {
    svg {
      stroke: $secondary;
      fill: $secondary;
    }
  }

  &--hover,
  &:hover {
    transform: scale(1.3);

    svg {
      stroke: $primary;
      fill: $primary;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}
