@import '../_shared/colors';

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  list-style: none;
}
.nav__item {
  a {
    width: 100%;
    padding: 10px;
    color: $dark;
    font-weight: bold;
  }
}
