@import '../_shared/base';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav__title {
  font-family: 'Nova Mono';
  font-size: 22px;
  color: $dark-subtle;

  .buffy {
    color: $primary;
    margin-right: 10px;
    font-size: 42px;
  }
}
