@import '../_shared/colors';
@import '../_shared/transitions';

.split__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.split {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.split--animate {
  .split__half {
    //transition: clip-path cubic(1s);
  }
}

.split--left {
  .split__half:nth-child(1) {
    z-index: 2;
  }
}

.split--right {
  .split__half:nth-child(2) {
    z-index: 2;
  }
}

.split__half {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  z-index: 1;
}

// LEFT --------------------
.split__half--left {
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%);
  background-color: $primary;

  .split__content {
    left: 25%;
  }

  .split__background {
    //background-image: url('https://drive.google.com/uc?id=1b-_BPBczQUanDfrmIMp8RIjTzCY4pnl4');
  }

  &.split__half--active {
    clip-path: polygon(0 0, 100% 0, 100% 0, 35% 100%, 0 100%);
  }
}

// RIGHT --------------------
.split__half--right {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  background-color: $secondary;

  .split__content {
    left: 75%;
  }

  .split__background {
    //background-image: url('https://drive.google.com/uc?id=1m5PL2Du_msYjE84n_qdyip4l3AZO7UW4');
  }

  &.split__half--active {
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
}
