@import '../../../_shared/base';

.episode {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 2px 0;
  color: $primary-light;
  cursor: pointer;

  &:hover {
    color: $base;
    background: rgba($base, 0.05);
  }

  &.episode--active {
    color: $base;
    background: rgba($base, 0.15);
  }

  &:not(.episode--blocked) {
    &:active {
      background: rgba($base, 0.25);
    }
  }
}
