@import '../../../_shared/base';

.episodes__sidebar {
  display: flex;
  align-items: stretch;
}

.episodes__seasons {
  background: $primary-dark;
}

.episodes__list {
  flex: 1;
  max-height: 100%;
  background: $primary;
  background: linear-gradient(to top, $primary-dark, $primary);
  overflow-y: auto;
}
