@import '../../../_shared/base';

$border-radius: 10px;
$sidebar-width: 325px;
$season-width: 60px;
$list-width: $sidebar-width - $season-width;

.episodes__sidebar {
  position: fixed;
  display: flex;
  align-items: stretch;
  left: 0;
  top: 0;
  height: 100vh;
  min-width: $sidebar-width;
  z-index: 10;

  @media (max-width: 720px) {
    left: -$list-width;

    .episodes__seasons {
      order: 1;
      z-index: 2;
    }
    .episodes__list {
      transform: translateX(0);
      transition: transform cubic(0.3s);
    }

    &--open {
      .episodes__list {
        transform: translateX($sidebar-width);
      }
    }

    .arrow {
      display: none;
    }
  }
}

.episodes__seasons {
  padding: 10px;
  background: mix($primary, black, 70);
}

.episodes__list {
  flex: 1;
  max-height: 100%;
  background: $primary;
  background: linear-gradient(to top, $primary-dark, $primary);
  overflow-x: visible;

  h4 {
    margin: 10px 0;
    font-size: 20px;
    color: $base;
    text-align: center;
  }
}

$icon-size: 16px;
$icon-left: 20px;
.episodes__filter-wrapper {
  position: relative;
  padding: 10px 20px;

  svg {
    position: absolute;
    top: 50%;
    left: $icon-left;
    width: $icon-size;
    height: $icon-size;
    transform: translateY(-50%);
    fill: $primary-light;
  }
}

.episodes__filter {
  width: 100%;
  padding: 10px;
  padding-left: $icon-size + 10px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(white, 0.1);
  color: $base;
  //background: rgba(black, 0.15);
  font-family: inherit;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}
