$primary: #80354b;
$primary-dark: mix($primary, black, 80);
$primary-light: mix($primary, white, 50);

$secondary: #9c8e95;
$contrast: #56cbf9;

$base: #eee;

$dark: #47363d;
$dark-subtle: mix($dark, $base, 40);
