@import '../components/_shared/base';

html {
  height: 100%;

  // For REM sizing, base 10
  font-size: 10px;
  font-family: 'Laila', serif;
  box-sizing: border-box;

  background: $base;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  font-size: 1.4rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: grid;
  grid-template-rows: 50px auto;
  height: 100vh;
}
