@import '../components/_shared/base';
@import '../components/_shared/helpers';

html {
  height: 100%;

  // For REM sizing, base 10
  font-size: 10px;
  font-family: 'Laila', serif;
  box-sizing: border-box;

  background: $base;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  font-size: 1.4rem;
  color: $dark;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h4 {
  margin-bottom: 2rem;
  font-size: 24px;
  color: $dark-subtle;
}

.app {
  // display: grid;
  // grid-auto-rows: 60px auto;
  height: 100vh;
}
